body
{
    color: #333;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}
#container h2
{
    width: 500px;
    margin: 0;
    border-left-width: 10;
    color: white;
    font-weight: bold;
    background-color: blue;
    
}
footer
{
    font-weight: bold;
    font-size: 1.15em;
    text-align: center;
    padding: 0.4%;
    background-color: rgba(16, 80, 255, 0.09); 
}
footer #link
{
    text-decoration: none;
    color: rgb(54, 1, 139);
    padding: 0 0 0 1em;
}

